{% if signoff.is_signed %}
    <div class="d-flex justify-content-end signoffs signet {% if is_revokable %}revokable{% endif %}">
        <div class="signet-field-group">
            <span class="sigil">
                <span class="signet-field-label">
                    {{ signoff.sigil_label }}
                </span>
                <span class="signet-field">
                    {{ signoff.sigil }}
                </span>
            </span>
            <span class="timestamp">
                <span class="signet-field-label">
                    on
                </span>
                <span class="signet-field">
                    {{ signoff.timestamp|date:"DATE_FORMAT" }}
                </span>
            </span>
            {% if is_revokable and request.user == signoff.signatory %}
            <a class="revoke-button" type="button" title="Delete this comment" href="{{ signoff.urls.get_revoke_url }}">
                X
            </a>
            {% endif %}
        </div>
    </div>
{% endif %}