{% if signoff.is_signed %}
    <div class="d-flex signoffs signet {% if is_revokable %}revokable{% endif %}">
        <div class="signet-field-group">
            <span class="sigil">
                <span class="signet-field-label">
                    {{ signoff.sigil_label }}
                </span>
                <span class="signet-field">
                    {{ signoff.sigil }}
                </span>
            </span>
            <span class="timestamp">
                <span class="signet-field-label">
                    on
                </span>
                <span class="signet-field">
                    {{ signoff.timestamp|date:"DATE_FORMAT" }}
                </span>
            </span>
        </div>
        {% if is_revokable and request.user == signoff.signatory %}
        <div class="ms-auto">
            <a class="revoke-button" type="button" title="Revoke this signoff" href="{% url 'article:like' signoff.signet.article.id %}">
                Unlike
            </a>
        </div>
        {% endif %}
    </div>
{% endif %}