{# Renders all the signed and next-to-be signed signoffs for the approval instance #}
{% load signoff_tags %}
{#might be able to keep the div `id` dynamic by using the escapejs filter on approval.id? #}
<div class="signoffs approval"
     id="{{ approval.id|slugify }}-container"
     
{% if use_htmx %}
     {% if not inherit_csrf %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endif %}
     {% if not inherit_target %}hx-target="#{{ approval.id|slugify }}-container"{% endif %} {#  and not is_oob #}
     hx-select="#{{ approval.id|slugify }}-container" {# only replace this with itself #}
     hx-swap="innerHTML"
     {% if is_oob %}hx-swap-oob="true:outerHTML"{% endif %}
{% endif %}
>

    <div class="panel panel-{{ approval.status.get_css_class }}">
        <div class="panel-heading pb-2">
            <strong>{{ approval.label }}</strong>
            {% if show_status_message %}
                <span class="status-msg label label-{{ approval.status.get_css_class }}">
                    {{ approval.status.get_label }}
                </span>
            {% endif %}
        </div>
        <!-- List group -->
        <ul class="list-group">
            {% for signoff in approval.signoffs.all %}
                <li class="list-group-item">
                    {% render_approval_signoff approval signoff use_htmx=True with_signature_line=True %}
                </li>
            {% endfor %}
        </ul>
        {% with signoffs=approval|next_signoffs_for_user:request_user %}
            {% if signoffs and render_signoff_forms %}
                <div class="panel-footer pt-3"
                >
                    <h5>
                        {{ approval.label }} {{ request_user.get_full_name }}
                    </h5>
                    {% for signoff in signoffs %}
                        {% render_signoff signoff use_htmx=use_htmx inherit_target=True inherit_csrf=True is_oob=False %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
