{% extends 'base.html' %}
{% load signoff_tags %}

{% block title %}Assignment Details - Powderflask News{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="article-detail pb-3">
        {% if messages %}
        <div style="color:red">
            <h6>Something went wrong...</h6>
            <ul>
            {% for message in messages %}
                <li><em>{{ message }}</em></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h1>{{ assignment.assignment_name }}</h1>
    <h6 class="text-success">{{ assignment.get_status_display }}</h6>
        <hr>
        <p>
            <strong>Assigned By:</strong>   {{ assignment.assigned_by.get_full_name }}  <text class="text-muted">{{ assignment.assigned_by }}</text>
            <br>
            <strong>Assigned To:</strong>   {{ assignment.assigned_to.get_full_name }}  <text class="text-muted">{{ assignment.assigned_to }}</text>
        </p>
        <p>
            <strong>Assignment Details:</strong>
            <br>
            {{ assignment.details }}
            <br>
        </p>
    </div>
{#{% if signoff %}#}
        <br>
        <form method="post">
            <div class="signoffs approval-signoff">
                {% render_approval assignment.approval %}
            </div>
        </form>
        <br>
{#{% endif %}#}
</div>
{% endblock %}