{# Renders all the signed and next-to-be signed signoffs for the approval instance #}
{% load signoff_tags %}

<div class="signoffs approval">
    <div class="panel panel-{{ approval.status.get_css_class }}">
        <div class="panel-heading">
            {{ approval.label }}
            <span class="status-msg label label-{{ approval.status.get_css_class }}">
                {{ approval.status.get_label }}
            </span>
        </div>
        <!-- List group -->
        <ul class="list-group">
            {% for signoff in approval.signoffs.all %}
                <li class="list-group-item">
                    {% render_signoff signoff %}
                </li>
            {% endfor %}
        </ul>
        {% with signoffs=approval|next_signoffs_for_user:request.user %}
            {% if signoffs %}
                <div class="panel-footer">
                    <h5>
                        {{ approval.label }} {{ request.user.get_full_name }}
                    </h5>
                    {% for signoff in signoffs %}
                        {% render_signoff signoff %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
