{% extends "base.html" %}

{% block title %}Login - Powderflask News{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <div class="mb-3">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}